<template>
  <div class="welcome">
    <h1>Nossa Base possui no momento</h1>
    <div class="contentBox">
        <div class="boxType">Filmes: {{swapi.films.length}}</div>
        <div class="boxType">Pessoas: {{swapi.people.length}}</div>
        <div class="boxType">Planetas: {{swapi.planets.length}}</div>
        <div class="boxType">Especies: {{swapi.species.length}}</div>
        <div class="boxType">Aeronaves: {{swapi.starships.length}}</div>
        <div class="boxType">Veiculos: {{swapi.vehicles.length}}</div>
    </div>
    <div class="search">
        <label for="">Busca por novos dados</label>
        <input type="text" v-model="filter" placeholder="Need a hint? try people/1/ or planets/3/ or starships/9/">
        <button @click="buscaNovosDados">buscar</button>
    </div>
    <div class="position" v-if="result">
        <button @click="save">Salvar</button>
        <pre>
            {{result}}
        </pre>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

  export default {
    name: 'home',
  data() {
    return {
        filter:'',
        result: null
    }
  },
  props: {
  },
  methods:{
    async fetch(){
      const load = this.$buefy.loading.open()
      const res = await this.$store.dispatch("swapi/load");
      if(!res){
        console.log('erro de conexao');
      }
      load.close()
    },
    async save(){
        let type = null
        const req = this.result
        if(req.gravity || req.count == 60){
            type = 'planet'
        }else if(req.gender || req.count == 82){
            type = 'people'
        }else if(req.episode_id || req.count == 6){
            type = 'film'
        }else if(req.crew || req.count == 36){
            type = 'starship'
        }else if(req.classification || req.count == 37){
            type = 'specie'
        }else if(req.manufacturer || req.count == 39){
            type = 'vehicles'
        }

        const load = this.$buefy.loading.open()
        const res = await this.$store.dispatch(`swapi/save${type}`, this.result)
        if(res){
            load.close()
            this.fetch()
        }
    },
    async buscaNovosDados(){
        const load = this.$buefy.loading.open()
        const res = await this.$store.dispatch("swapi/search", this.filter)
        if(res){
            this.result = res
        }else{
            this.result = "Termo não encontrado"
        }
        load.close()
    }
  },
  mounted(){
    this.fetch()
  },
  computed:{
    ...mapGetters({
      swapi: "swapi/data",
    })
  }
  };
</script>
<style scoped>
button{
  padding: 14px;
    color: #fff;
    background: #123c82;
    border: none;
    border-radius: 5px;
    margin: 10px;
}
    .contentBox{
        display: flex;
    }
    .position{
        position: relative;
    }
    .position button{
        position: absolute;
        top: 5px;
        right: 5px;
    }
  .welcome{
    background: #0e1726;
    margin: auto;
    color: #eee;
    text-align: center;
    border-radius: 5px;
    padding: 30px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 22px;
  }
  .boxType{
      padding: 10px;
    width: 20%;
    margin: 5px;
    background: #060816;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .search{
      padding: 20px;
  }
  .search input{
      width: 100%;
  }
</style>