<template>
  <div class="welcome">
    <div class="listagem">
      <b-select placeholder="Select one" v-model="fil">
          <option value="people">
              Pessoas
          </option>
          <option value="planets">
              Planetas
          </option>
          <option value="films">
              Filmes
          </option>
          <option value="species">
              Especies
          </option>
          <option value="vehicles">
              Veiculos
          </option>
          <option value="starships">
              Aeronaves
          </option>

      </b-select>
    </div>

    <div class="lista">
      <ul>
        <li v-for="(item, i) in filter" v-bind:key="i" @click="opemModal(item)">{{item.name || item.title}}</li>
      </ul>
    </div>
   
    <b-modal :active.sync="isImageModalActive" :width="500" aria-role="dialog" :can-cancel="true">
        <div class="modalBox">
          <cite v-if="active && fil == 'people'" >
            “Olá! Meu nome é {{active.name}}. Sou um {{getRace()}},
             peso {{active.mass}} Kg, 
             nasci em {{getHome()}} no ano {{active.birth_year}}
             .
          </cite>
          <cite v-if="active && fil == 'people' && active.starships.length > 0" >
            Ja pilotei
            <b v-for="(item, i) in active.starships" v-bind:key="i">{{getstarships(item)}}
              {{i ==  active.starships.length -1? '.': ', '}}
            </b>
            ” 
          </cite>

          <cite v-if="active && fil == 'planets'" >
            <b>{{active.name}}</b>
            <p>população {{active.population}} Habitantes.</p>
            periodo de rotação {{active.rotation_period}} Horas.
            periodo de Orbita {{active.orbital_period}} Dias.
          </cite>

          <cite v-if="active && fil == 'films'" >
            <b>{{active.title}}</b>
            <p>episodio {{active.episode_id}}.</p>
            <p>DIRETOR: {{active.director}}.</p>
            <p>produtor: {{active.producer}}.</p>
            <p>lançado: {{active.release_date}}.</p>
          </cite>

           <cite v-if="active && fil == 'planets'" >
            <b>{{active.name}}</b>
            <p>população {{active.population}} Habitantes.</p>
            periodo de rotação {{active.rotation_period}} Horas.
            periodo de Orbita {{active.orbital_period}} Dias.
          </cite>

          <cite v-if="active && fil == 'species'" >
            <b>{{active.name}}</b>
            <p>classificação: {{active.classification}}.</p>
            <p>altuta media: {{active.average_height}}cm.</p>
            <p>tempo de vida medio: {{active.average_lifespan}} anos.</p>
            <p>Linguagem: {{active.language}}.</p>
          </cite>

          <cite v-if="active && fil == 'vehicles'" >
            <b>{{active.name}}</b>
            <p>modelo: {{active.model}}.</p>
            <p>produzido: {{active.manufacturer}}</p>
            <p>tripulação: {{active.crew}} pessoas.</p>
          </cite>

          <cite v-if="active && fil == 'starships'" >
            <b>{{active.name}}</b>
            <p>modelo: {{active.model}}.</p>
            <p>produzido: {{active.manufacturer}}</p>
            <p>tripulação: {{active.crew}} pessoas.</p>
          </cite>
        </div>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: 'home',
  data() {
    return {
      isImageModalActive: false,
      fil: 'people',
      active: null
    }
  },
  props: {
  },
  methods:{
    getRace(){
      if(this.active){
        const race = this.swapi.species.find(c => c.url == this.active.species)
        if(race){
          return race.name
        }else{
          return 'Humano'
        }
      }
    },
    getHome(){
      if(this.active){
        const planet = this.swapi.planets.find(c => c.url == this.active.homeworld)
        if(planet){
          return planet.name
        }else{
          return '[indefinido]'
        }
      }
    },
    getstarships(x){
      const ship = this.swapi.starships.find(c => c.url == x)
      if(ship){
        return ship.name
      }else{
        return '[indefinido]'
      }
    },
    opemModal(i){
      this.active = i
      this.isImageModalActive = true
    },
    async fetch(){
      const load = this.$buefy.loading.open()
      const res = await this.$store.dispatch("swapi/load");
      if(!res){
        console.log('erro de conexao');
      }
      load.close()
    },
  },
  mounted(){
    this.fetch()
  },
  computed:{
    ...mapGetters({
      swapi: "swapi/data",
    }),
    filter(){
      return this.swapi[this.fil]
    }
  }
};
</script>
<style scoped>
ul{
  padding: 20px;
}

ul li{
  padding: 10px;
    background: #4456d8;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button_add{
  text-align: right;
  margin-bottom: 10px;
}


.modalBox{
  padding: 20px;
  background: #999;
  border-radius: 5px;
}
  .welcome{
    background: #0e1726;
    color: #eee;
    text-align: center;
    border-radius: 5px;
    padding: 30px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 22px;
  }

  .button_excluir, .button_editar{
    margin-right: 10px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border:solid #eee 1px;
    cursor: pointer;
  }

  .button_excluir:hover, .button_editar:hover{
    opacity: 0.8;
    border:solid #000 1px;
  }



  .button_editar{
    background: #4456d8;
  }

  .button_excluir{
    background: #d62424;
  }
</style>