<template>
  <div class="welcome">
    <b-field label="Usuario">
        <b-input v-model="auth.user" placeholder="sury"></b-input>
    </b-field>
    <b-field label="Password">
        <b-input v-model="auth.pass" placeholder="123"></b-input>
    </b-field>
    <b-button @click="tryLogin()">Login</b-button>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

  export default {
    name: 'login',
  data() {
    return {
        auth:{
            user: '',
            pass: ''
        }
    }
  },
  props: {
  },
  methods:{
      async tryLogin(){
          if(this.auth.user !== '' && this.auth.pass !== ''){
              const res = await this.$store.dispatch('swapi/login', this.auth)
              if(res){
                  this.$router.push('/')
              }else{
                  this.$buefy.toast.open({
                    message: 'Usuario ou Senha incorreta!',
                    type: 'is-danger'
                })
              }
          }else{
              this.$buefy.toast.open({
                  message: 'Preencher todos os campos!',
                  type: 'is-danger'
              })
          }
      }
  },
  mounted(){
  },
  computed:{
    ...mapGetters({
      swapi: "swapi/data",
    })
  }
  };
</script>
<style scoped>
button{
  padding: 14px;
    color: #fff;
    background: #123c82;
    border: none;
    border-radius: 5px;
    margin: 10px;
}
    .contentBox{
        display: flex;
    }
    .position{
        position: relative;
    }
    .position button{
        position: absolute;
        top: 5px;
        right: 5px;
    }
  .welcome{
    background: #0e1726;
    margin: auto;
    color: #eee;
    text-align: center;
    border-radius: 5px;
    padding: 30px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 22px;
  }
  .boxType{
      padding: 10px;
    width: 20%;
    margin: 5px;
    background: #060816;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .search{
      padding: 20px;
  }
  .search input{
      width: 100%;
  }
</style>